---
layout: page
title: Academic Minds
intro: Academic Minds - A new way to connect tutors and students online
exclude: true
---




  <section>
    <h2>The brief</h2>
    <p>coming soon...</p>
  </section>

  {% include image.html
    desktop="assets/img/AM/AM1.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}
  
  {% include image.html
    desktop="assets/img/AM/AM3.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}

  {% include image.html
    desktop="assets/img/AM/AM5.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}
