---
layout: page
title: Academic Minds
intro: Academic Minds - A new way to connect tutors and students online
exclude: true
---




<section>
  <h2>Project coming soon</h2>
  <p>This is a brand new website that I've just started making. It will be finished soon, but in the meantime please email me at <a href="mailto:{{ site.email }}">{{ site.email }}</a> for my portfolio.</p>
</section>


  {% include image.html
    desktop="assets/img/AM/AM1.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}

  {% include image.html
    desktop="assets/img/AM/AM3.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}

  {% include image.html
    desktop="assets/img/AM/AM5.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}
