---
layout: page
title: Unmissable
intro: Unmissable - A new website and monetisation strategy
exclude: true
---

<section>
  <h2>Project coming soon</h2>
  <p>This is a brand new website that I've just started making. It will be finished soon, but in the meantime please email me at <a href="mailto:{{ site.email }}">{{ site.email }}</a> for my portfolio.</p>
</section>


  {% include image.html
    desktop="assets/img/unmissable1.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}



  <section>
    <h2>What we did</h2>




  {% include image.html
    desktop="assets/img/Unmissable/UM6.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}

  {% include image.html
    desktop="assets/img/Unmissable/UM8.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}

  </section>
