---
layout: page
title: Unmissable
intro: Unmissable - A new website and monetisation strategy
exclude: true
---

<section>
  <h2>The brief</h2>
  <p>coming soon...</p>
</section>

  {% include image.html
    desktop="assets/img/Unmissable/Science.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}

  {% include image.html
    desktop="assets/img/Unmissable/UM3.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}

  <section>
    <h2>The brief</h2>
    <p>coming soon...</p>

    <h2>The outcome</h2>
    <p>coming soon...</p>
  </section>



  {% include image.html
    desktop="assets/img/Unmissable/UM6.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}

  {% include image.html
    desktop="assets/img/Unmissable/UM8.jpg"
    mobile="assets/img/placeholder-mobile.jpg"
    alt=""
  %}
