<meta charset="utf-8">
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}. Karl Goldstraw: Interaction Designer.</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="Karl Goldstraw">
<link rel="icon" href="{{ site.url | append: site.baseurl }}/assets/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
<link rel="stylesheet" href="{{ site.url | append: site.baseurl }}/assets/css/style.css">
