<nav class="navigation" role="navigation">
  <ul>
    {% assign pages_list = (site.pages | sort: 'order') %}

    {% for node in pages_list %}
      {% unless node.exclude or node.url contains ".xml" or node.url contains ".txt" %}

        {% if page.url == node.url %}
          <li><a class="active" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}

      {% endunless %}
    {% endfor %}
  </ul>
</nav>
