//Fonts
$Roboto: 'Roboto', sans-serif;

//Typography
h1, h2, h3, strong {
  font-weight: 500;
}
h1 {
  font-size: 3.75em;
  margin-top: 1.5em;
}
h2 {
  font-size: 2em;
  margin-top: 1.3em;
}
h3 {
  font-size: 1.5em;
  margin-top: 1.1em;
}
p, section ul {
  line-height: 1.5em;
  margin-top: 1em;
  font-size: 1.3em;
}
a {
  text-decoration: underline;
  color: $black;

  &:hover {
    color: $grey;
  }
  &:focus {
    background-color: $highlight;
    color: $black;
    outline: none;
    text-decoration: none;
  }
  &.active {
    font-weight: 500;
  }
}

section ul {
  margin-left: 1em;
}

span.highlight {
  background: $highlight;
}
