---
layout: post
---

<section>
  <p>I’ve been reading a lot lately on digital inclusion and accessibility. I’ve been attending meet ups and immersing myself in the subject as much as possible.</p>

  <p>I’ve never been a person who learns by doing a course or sitting doing online tutorials, I just can’t do it — I only really learn by doing, and also knowing that the thing you are doing will make a difference to someone’s real world. That difference gives me the push to see it through and gives me the motivation to learn more and more.</p>

  <h2>Recommended reading</h2>
  <p>I recently read <a href="https://abookapart.com/products/accessibility-for-everyone">Accessibility for Everyone</a> by Laura Kalbag. It’s a really good read, lots of nuggets of information and whilst it made me think of all of the things I didn’t know, it made me realise I do actually know a lot of things already. You don’t realise that accessibility is mainly common sense, empathy and consideration, it’s not an entirely specialist subject, we can all do it — it’s just about how we go about extracting the knowledge we already have and putting it to good use.</p>

  <p>I also read <a href="https://shop.smashingmagazine.com/products/inclusive-design-patterns">Inclusive Design Patterns</a> by Heydon Pickering. The book is jam packed with technical information for designers and front end developers but also considerate thinking around design patterns in a language that any designer can understand, whether you know how to code or not.</p>

  <p>Seeing how others put their knowledge to good use has really helped me understand how I can do the same thing. I’ve been regularly attending <a href="https://www.youtube.com/channel/UCDIVL2ytbhD9ZCn8GaEIi_g">#A11yLondon</a> (London Accessibility Meetup) organised by   <a href="https://twitter.com/dugboticus?lang=en">Alastair Duggin</a> of GDS fame. The monthly event always has two incredible talks by people who share case studies and experiences of how they’ve implemented their own accessibility knowledge into their projects. I always come away feeling like I can do more, the world needs to do more — it’s very inspiring — and I always meet someone who gives me a little gem of an idea for how I can improve (thanks Ishan).</p>

  <h2>Learning and volunteering</h2>
  <p>So this month I decided to try something more. I volunteered for a charity called <a href="https://www.blindaid.org.uk/">BlindAid</a>. They’re not far from where I work in London and so it seemed like a great idea to at least go and have a chat to see what they do, and how I might be able to contribute something as well as learn something. They have two main services that I was interested in exploring: Home visiting, and Community projects.</p>

  <p>In order to volunteer, you have to do a basic security check, as well as something called Sight Guide Training. I attended Sight Guide Training last week with Elaine from BlindAid and it was <strong>Really fun</strong> as well as educational, I came away feeling really enlightened and energised to do more.</p>

  <p>BlindAid have a box full of  <a href="https://vinesimspecs.com/">Vine Sim Specs</a>, which are glasses you wear to simulate different types of visual impairment.</p>

  <p>Firstly, Elaine ran a little exercise of pouring water into cups, and then took me around the nearby park wearing the glasses.</p>
</section>

{% include image.html
  desktop="assets/img/BlindAid-1.jpg"
  mobile="assets/img/BlindAid-1-mob.jpg"
  alt="A jug of water and two different shape and size cups, in a metal tray"
%}

<section>
  <p>The water pouring exercise was a serious thing that has a fun element to it because of its simplicity and it’s really an exercise any of us can do with colleagues to help build empathy quickly. You take the jug, and pour water into the cups.</p>

  <div class="inset-text">
    <p>How do you know when the cup is full, or overflowing, or even being missed altogether? Sound, and dipping your finger in? Possibly, unless it’s coffee and scalding hot.</p>
  </div>

  <p>Afterwards, Elaine took me outside. Whilst walking out in the street, she pointed out a lot of things that I totally take for granted as a fully sighted person, from coffee shops smelling different to pubs, a warmer feeling on your back that means there’s probably no trees cover overhead, the sound of your voice indicating the size of the space in front of you. This all sounds really obvious, but I just hadn’t thought of it before in terms of building a visual picture of the world around me.</p>

  <div class="inset-text">
    <p>“If you smell a pub, there’s probably going to be a higher likelihood of people (perhaps intoxicated) around, or outside, creating obstacles for your onward journey”. <em>You just don’t think of these things a fully sighted person.</em></p>
  </div>

  <p>Whilst pointing out the visual and non-visual cues, Elaine shows me how to hold on to her for guidance and also how to guide someone else. It looks like a simple thing, but it’s pretty tricky. I’ll get to this later.</p>
</section>

<section>

  {% include image.html
    desktop="assets/img/BlindAid-2.jpg"
    mobile="assets/img/BlindAid-2-mob.jpg"
    alt="A photograph taken in the street looking through the ‘Reduced visual acuity’ glasses, which have peripheral but little central vision."
  %}

  <p>The Reduced Visual Acuity glasses shown above give you a sense of only being able to see things going on around and not directly in front of you. As an fully sighted person I found my natural instinct was to move my eyes and look towards the clear parts, I was cheating without realising it. But once you learn to look straight ahead and lock your eye position you get a real sense of the issue.</p>

  <p>Next we moved on to the Tunnel vision glasses.</p>

  <p>Wow.</p>

  <iframe width="100%" height="315" src="https://www.youtube.com/embed/3L9tLBgmEUg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <p>In the video above, I’m pointing my iPhone through the glasses to try and create a sense of what you see. Apart from the lack of focus, a tiny hole of blurry light shades in the centre, is all you see.</p>

  <p>Elaine took me to a set of three steps at the entrance to the park and I felt as though I was about to step off a cliff. I was quite unnerved by the lack of any peripheral vision that I use for balance and sense of position. Elaine pointed out that whilst the majority of blind people go blind over the course of a set amount of time, there are cases where people literally wake up blind and are plunged into this situation very quickly.</p>

  <p>As I was walking around the park, I could hear a very clear sound of people chatting, I noticed that in a short space of time my hearing seemed to get better, or perhaps I was just concentrating on what I can hear a little more. I’ve heard it said that your brain adjusts your other senses when one is lacking, and I could see this being something like true.</p>

  <p>Because I was wearing the glasses and holding on to Elaines arm for guidance, I felt very self-conscious. Although I couldn’t see them, and wasn’t made directly aware of it, I felt like people were watching me. Perhaps they weren’t, but it felt like it, for a very short time I was the odd one out. It really helps you get a small insight into the plight of others.</p>

  <div class="inset-text">
    <p>Visually impaired people shouldn’t be treated differently, or even made to feel they’re different from you and I.</p>
  </div>

  <p>Next we moved onto the Blindfold. 10% of blind people are 100% blind.</p>

  <p>Whilst I’m not comparing one condition to another this for me was the most unnerving experience of the training for me. I walked around the park with Elaine whilst completely blindfolded, down a set of steps, crossing the road and feeling for things with my feet alone. Regrettably, I had worn my Nike Air trainers that day which made it even harder to feel the surfaces. It’s the little things that we take for granted that make the biggest differences to the things we experience.</p>

  <h2>Doors and Independence</h2>

  <p>When we got back to the office Elaine showed me how to guide someone inside. Opening a door for someone seems like a a pretty simple task, but you have to consider that the person is holding on to you and their possible lack of spacial awareness, holding a door for them simply won’t do. Your partner needs to have their hands guided to the door to feel it and to know when it is closed and the pace at which it moves. It’s a skill allowing someone the opportunity to move through a door safely without feeling like you just did it all for them. The feeling of independence is as bigger issue as any other.</p>

  <h2>What’s next?</h2>

  <p>I’m looking forward to volunteering with BlindAid. They run the Community projects whereby I will meet people and hopefully get to know their needs. I want my experiences to ultimately feed back into my work.</p>

  <p>Hopefully I’m going to meet some people and mingle to find out their experiences and how they cope. I also want my experiences with real people to help me advocate the subject to my peers, I think the more anecdotal experience I have the more I’ll accurately and passionately spread the message.</p>

</section>
