---
---

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  {% include metadata.html %}
  {% include GA.html %}
</head>

<body>
{% include skiplinks.html %}
{% include notification.html %}
<div class="wrapper">

  <header role="banner">
    {% include navigation.html %}

    <h1 class="intro">Hi, my name is Karl.<br>
    <span>I’m a senior <span class="highlight" role="text">interaction designer.</span></span></h1>
  </header>

  <main id="main">
    {{ content }}
  </main>

  {% include footer.html %}
</div><!--guns-dont-kill-people-wrappers-do-->
</body>
</html>
