---
---

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  {% include metadata.html %}
  {% include GA.html %}
</head>

<body>
<div class="wrapper">

<nav role="navigation">
  <ul>
    {% for page in site.pages %}
      {% unless page.exclude %}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>
</nav>

  <header role="banner">
    <h1 class="intro">Hello, my name is Karl.<br>
    <span>I’m a senior interaction designer.</span></h1>
  </header>

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
</div><!--guns-dont-kill-people-wrappers-do-->
</body>
</html>
