---
---

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  {% include metadata.html %}
  {% include GA.html %}
</head>

<body>
{% include notification.html %}
<div class="wrapper">

{% include navigation.html %}

  <header role="banner">
    <h1>{{ page.intro }}</h1>
    {%if page.lead %}
      <p class="date">{{ page.lead }}</p>
    {% else %}
    {% endif %}
    <hr>
  </header>

  <main>
    <article>
      {{ content }}
    </article>
  </main>

  {% include footer.html %}
</div>
</body>
</html>
